.profilePicContainer {
    overflow: hidden;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    width: 9em;
    aspect-ratio: 1;
    background-color: #333;
}

.profilePicImage {
    width: 100%;
}

h3 {
    background-color: var(--itemBg);
    box-shadow: 0 4px 10px var(--shadowColor);
    color: var(--accent2);
    padding: 1em;
}

.contentHeading {
    text-transform: uppercase;
}

.actionButton {
    margin-top: 1em;
    width: 100%;
}