.contentContainer {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 700px;
  box-shadow: 0 4px 10px var(--shadowColor);
  padding: 1em;
  background-color: var(--containerBg);
}

.scrolling-container{
  max-width: 400px;
  max-height: 400px;
  overflow: scroll;
}

.border-container{
  background-color: var(--itemBg);
  box-shadow: 0 4px 10px var(--shadowColor);
  max-width: 700px;
  padding: 16px;
  margin: auto;
}

.narrow-container{
  max-width:300px;
}

