:root {
  --bgColor: #25182c;
  --fontColor: #fcf9ff;
  --containerBg: #1e201f;
  --itemBg: #2d2d2d;
  --shadowColor: #0e0d13;
  --accent1: #71d9db;
  --accent2: #3bb2d6;
  --accent3: #1b80d8;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
  color: var(--fontColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: var(--accent2);
  color: var(--fontColor);
  border: none;
  border-radius: 0.1em;
  cursor: pointer;
  padding: 0.5em;
  font-weight: bold;
  box-shadow: 0 4px 10px var(--shadowColor);
  transition: 500ms;
}

button:hover {
  background-color: var(--accent3);
}

input,
textarea {
  border: 1px solid var(--accent3);
  color: var(--accent1);
  background-color: #1e201f;
  box-shadow: #0e0d13;
  font-family: 'Roboto', sans-serif;
  padding: 0.5em;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--accent1)
}