.profilePicContainer{
    overflow: hidden;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    width: 9em;
    aspect-ratio: 1;
    background-color: #333;
}

.profilePicImage{
    width: 100%;
}

h3{
    border-bottom: 1px solid rgb(173, 56, 72);
    color: rgb(173, 56, 72);
}

.contentHeading{
    text-transform: uppercase;
}